.header_tienda {
    width: 100%;
    height: 200px;
    background-color: #7a5752 ;
    background-size: cover;
}

.container_navbar {
    display: flex;
    justify-content: space-between;
}

.search_bar, .cart_icon {
    line-height: 100px;
    margin: 20px 30px;
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    display: inline-block;
    font-family: inherit;
    font-size: 18px;
    margin-top: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.links {
    text-decoration: none;
    color: white;
    padding: 8px 10px;
}

