@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    font-size: 1rem;
    line-height: 1.25;
}

.grid {
    width: 45%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid_block {
    width: 50%;
    min-height: 11.25rem;
    padding: 1rem;
    position: relative;
}

.image_grid {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
    transform: rotateX(45deg) rotateZ(45deg);
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.image_grid .tile_link:hover .tile_img {
    top: -1rem;
    left: -1rem;
}

.image_grid .tile_img {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition-property: opacity, top, left, box-shadow;
    transition-property: opacity, top, left, box-shadow;
}

.tile_link {
    display: block;
    text-decoration: none;
}


.tile_link:hover .tile_img {
    opacity: 1;
}

.tile_link:hover .tile_img_link {
    display: block;
}

.tile_link:hover .tile_img_link:hover .tile_img {
    opacity: 0.5;
}

.tile_img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
    opacity: 1;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.125s;
    transition-duration: 0.125s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.tile_link:hover .tile_img1 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
        10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.5),
        20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.08);
}

.tile_link:hover .tile_img2 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
        10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.5),
        20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.08);
}

.tile_link:hover .tile_img3 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
        10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.5),
        20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.08);
}

.tile_link:hover .tile_img4 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
        10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.5),
        20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.08);
}

.tile_link:hover .tile_img5 {
    box-shadow: 5px 5px rgba(244, 170, 200, 0.4),
        10px 10px rgba(244, 170, 200, 0.3), 15px 15px rgba(244, 170, 200, 0.5),
        20px 20px rgba(244, 170, 200, 0.1), 25px 25px rgba(244, 170, 200, 0.08);
}


.grid_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.grid_title {
    color: black;
    font-size: 3rem;
}

.grid_title:hover {
    text-decoration: underline;
}


